@charset "UTF-8";


 body {
      font-family: sans-serif;
      display: flex;
      gap: 50px;
      justify-content: center;
      margin-top: 50px;
    }
    .container {
      width: 200px;
      height: 200px;
      border: 2px solid #333;
      position: relative;
      background-color: #b9f8e3;
    }
    .caixa {
      width: 80px;
      height: 80px;
      background-color: #00bcd4;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
    .relative .caixa {
      position: relative;
      top: 50px;
      left: 50px;
      background-color: #d4002e;
    }
     .absolute .caixa {
      position: absolute;
      top: 50px;
      right: 50px;
      background-color: orange;
    }